html, body, #root, .App, .wrapper {
  height: 100%;
  max-height: 100%;
  background: #eeeeee;

}

#log {
  z-index: -1;
  width: 100%;
  display: none;
}

.iteration {
  height: 100%;
  max-height: 100%;
  width:100%;
  max-width: 100%;
  cursor: pointer;
  padding: 0px;
  box-sizing: border-box;
  background: white;
  position: relative;
}

.iteration img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 10px solid #eeeeee;
  box-sizing: border-box;
}

.iteration div {
  transition: width, height .1 linear;
}

.iteration.playing {
}

.iteration.playing img {
  border: 10px solid #dddddd;
}
.header, .footer {
  text-align: center;
  font-size: 2vmin;
}

.header {
  grid-area: header;
  font-weight: 500;
  margin: 1vmin;
}

.header audio {
  display: none;
}

.App-link {
  color: #09d3ac;
}

.modal {
  display: grid;
  position: absolute;
  background: #22222299;
  backdrop-filter: blur(.5vmin);
  z-index: 1;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "modaltop modaltop modaltop" 
    "modalleft modal modalright" 
    "modalbottom modalbottom modalbottom" 
}

.modal-content {
  grid-area: modal;
  //background: white;
  padding: 5vmin;
  display: flex;
}

.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: 4vmin 1fr 1fr 1fr 1fr .5fr;
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 15% /*1fr*/;
  grid-template-areas: 
    "header header header header header header" 
    "gutter iteration00 iteration01 iteration02 iteration03 menu"
    "gutter iteration10 iteration11 iteration12 iteration13 menu"
    "gutter iteration20 iteration21 iteration22 iteration23 menu"
    "gutter iteration30 iteration31 iteration32 iteration33 menu"
    "footer footer footer footer footer footer"
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.gutter {
  height: 100%;
  grid-area: gutter;
}

.menu {
  height: 100%;
  grid-area: menu;
}

.gallery-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2vmin;
}
button {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2vw;
  padding: 1vmin;
  margin: 1vmin;
  cursor: pointer;
  width:  23%;
  color: #a9a3a1;
  border: 1px solid #a9a3a1;
  background: #f7f6f5;
  display: inline-block;
  max-height: 100%;
  top: 0px;
}
.start-button {
  width: 100%;
  color: black;
  border: 1px solid black;
  
}
.gallery-selection button.selected{
  background: white;
}

.gallery-selection button.selected.court {
  color: #b41e8e;
  border: 1px solid #b41e8e;
}

.gallery-selection button.selected.study {
  color: #0095da;
  border: 1px solid #0095da;
}

.gallery-selection button.selected.niche {
  color: #eca021;
  border: 1px solid #eca021;
}

.gallery-selection button.selected.bridge {
  color: #75c043;
  border: 1px solid #75c043;
}